/* Styles for the whole page */
*{
  box-sizing: border-box;
}

/* Styles for the rows */
section.holder div{
  min-height: 75px;
  display: inline-block;
  padding: 10px;
  border-top: 2px solid black;
}

.jumbotron{
  padding-bottom: 10px;
}

.instructions{
  margin: 3px;
  font-size: 140%;
  font-weight: bold;
}

#instructions1{
  padding-top: 15px;
}

section#titles div{
  display: inline-block;
  padding-bottom: 10px;
}

.container{
  position:relative;
}

.hourTitle{
  float: left;
  width: 10%;
  border: none;
  font-size: 125%;
  text-align: center;
}

.taskTitle{
  float: left;
  width: 83%;
  border: none;
  font-size: 125%;
  text-align: center;
}

.saveTitle{
  border: none;
  width: 7%;
  font-size: 125%;
  text-align: center;
}

.hour{
  border: none;
  border-right: 2px solid black;
  width: 10%;
  float: left;
}

.task{
  width: 83%;
  float: left;
  background-color: #CCC;
}

.save{
  width: 7%;
  background-color: #39a0e5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url(../images/save-icon-40X33.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.save:hover{
  cursor: pointer;
  background-image: url(../images/noun-save-1000912-white.png);
}

textarea{
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  overflow: auto;
  outline: none;
  font-size: 110%;
}

.past{
  background-color: #CCC;
}

.present{
  background-color: rgb(189, 35, 66);
}

.future{
  background-color: rgb(29, 155, 29);
}

#saveConfirm{
  z-index: 999;
  width: 80%;
  margin: 25% 10%;
  display: none;
  position: absolute;
  text-align: center;
  color: #000;
  font-size: 40px;
  text-align: center;
}



@media screen and (max-width: 768px)
{
  .hour{
    width: 20%;
  }

  .save{
    width: 15%;
  }

  .task{
    width: 65%
  }
}

@media screen and (max-width: 500px)
{
  .hour{
    width: 20%;
  }

  .save{
    width: 15%;
  }

  .task{
    width: 65%
  }
}
