section.holder{
  /* border-top: 2px solid black; */
}

section.holder div{
  min-height: 75px;
  display: inline-block;
  padding: 10px;
  border-top: 2px solid black;
}

.hour{
  border: none;
  border-right: 2px solid black;
  width: 10%;
  float: left;
}

.task{
  width: 83%;
  float: left;
  background-color: #CCC;
}

.save{
  width: 7%;
  background-color: #39a0e5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url(../images/save-icon-40X33.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.past{
  background-color: #CCC;
}

.present{
  background-color: rgb(189, 35, 66);
}

.future{
  background-color: rgb(29, 155, 29);
}